{% extends 'global/layout.html' %}

{% load static %}

{% block content %}
{% load custom_tags %}
{% if user.is_authenticated %}

{% if request.user|has_group:"admin" %}

<div class="container-fluid px-3 mt-5">
    <div class="card shadow-lg border-0 w-100">
        <div class="card-body p-5 p-md-6 p-lg-7" style="min-height: 540px;">
           <h4 class="card-title text-center" style="font-family: 'Arial', sans-serif; font-size: 28px; color: #4E4E4E; font-weight: bold; text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); margin-bottom: 30px;">
                <i class="fas fa-user-plus" style="font-size: 30px; margin-right: 10px;"></i>
                Añadir Ejecutivo
            </h4>
            {% if messages %}
                <div class="alert-container mb-4">
                    {% for message in messages %}
                        <div class="alert {% if message.tags == 'error' %}alert-danger{% else %}alert-success{% endif %} alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            <form method="post" action="{% url 'guardar_participante' %}">
                {% csrf_token %}

                <div class="row justify-content-center">
                    <div class="col-md-5 mb-4">
                        <label for="rut" class="form-label">Rut Ejecutivo:</label>
                        <input type="text" class="form-control form-control-sm" id="rut" name="rut" maxlength="10" onkeypress="return isNumber(event)" oninput="checkRut(this)" required style="height: 50px;">
                        <div><span id="alerta"><span id="mensaje" style="color: red;"></span></span></div>
                    </div>

                    <div class="col-md-5 mb-4">
                        <label for="nombre" class="form-label">Nombre Ejecutivo:</label>
                        <input type="text" class="form-control form-control-sm" id="nombre" name="nombre" maxlength="150" required style="height: 50px;">
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-md-5 mb-4">
                        <label for="usuario" class="form-label">Usuario:</label>
                        <input type="text" class="form-control form-control-sm" id="usuario" name="usuario" maxlength="100" required style="height: 50px;">
                    </div>

                    <div class="col-md-5 mb-4">
                        <label for="cargo" class="form-label">Cargo:</label>
                        <select class="form-select form-select-sm" id="cargo" name="cargo" required style="height: 50px;">
                            <option selected value="" disabled>Seleccione Cargo</option>
                            {% for cargo in opciones_cargos %}
                                <option value="{{ cargo.cod_cargo }}">{{ cargo.descripcion }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="row justify-content" style="margin-left:7.8%;">
                    <div class="col-md-5 mb-4">
                        <label for="servicio" class="form-label">Servicio:</label>
                        <select class="form-select form-select-sm" id="servicio" name="servicio" required style="height: 50px;">
                            <option selected value="" disabled>Seleccione Servicio</option>
                            {% for servicio in opciones_servicios %}
                                <option value="{{ servicio.cod_servicio }}">{{ servicio.descripcion }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="text-center ms-4">
                    <button id="enviar" type="submit" class="btn btn-primary btn-lg shadow-none w-auto">Añadir Ejecutivo</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript" src="{% static 'js/formulario/validar_rut.js' %}"></script>
<script type="text/javascript" src="{% static 'js/crear_participante/buscar_participante.js' %}"></script>

{% endif %}
{% endif %}
{% endblock %}
