{% extends 'global/layout.html' %}

{% load static %}

{% block content %}
{% load custom_tags %}
{% if user.is_authenticated %}

{% if request.user|has_group:"ejecutivo" or request.user|has_group:"admin" %}
<div class="container justify-content-center mt-1">
    <div class="container mt-3">
        <div class="row" style="margin-left:3%">
            <div class="col-md-5" style="background-color: rgb(78, 170, 167); border-radius: 20px">
                <div class="card" style="margin-top: 15px;height:95%">
                    <div class="card-body">
                        <h5 class="card-title text-center">Formulario de Derivación</h5>
                        <form class="mt-3" method="post" action="{% url 'insertar_derivacion' %}">
                             {% csrf_token %}
                            <div class="mb-3">
                                <label for="rut" class="form-label fw-bold">RUT:</label>
                                <input type="text" class="form-control" id="rut" name="rut" placeholder="Ej: 12345678-9" maxlength="10"  onkeypress="return isNumber(event)" oninput="checkRut(this)"  required>
                                <div style="margin-left:5%">
                                <span id="alerta">
                                    <span id="mensaje" style="color: red;"></span>
                                </span>
                            </div>
                            </div>
                            <div class="mb-3">
                                <label for="nombre" class="form-label fw-bold">Nombre:</label>
                                <input type="text" class="form-control" id="nombre" name="nombre" maxlength="150" required>
                            </div>
                            <div class="mb-3">
                                <label for="direccion" class="form-label fw-bold">Direccion:</label>
                                <input type="text" class="form-control" id="direccion" name="direccion" maxlength="200" required>
                            </div>
                            <div class="mb-3">
                                <label for="telefono" class="form-label fw-bold">Telefono:</label>
                                <input type="tel" class="form-control" id="telefono" name="telefono" maxlength="50" required>
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label fw-bold">Correo electronico:</label>
                                <input type="email" class="form-control" id="email" name="email" maxlength="200" required>
                            </div>
                            <div class="mb-3" id="div_observacion" style="display:none">
                                <label for="observacion" class="form-label fw-bold" >Razón derivacion:</label>
                                <textarea class="form-control" id="observacion" name="observacion"  rows="2" maxlength="160" ></textarea>
                            </div>
                            {% if fecha_fin  %}
                                <button type="submit" id="enviar" class="btn btn-primary mb-2" >Enviar</button>
                            {% else %}
                                <button type="submit" class="btn btn-primary mb-2" disabled>Enviar</button>
                            {% endif %}

                            {% if messages %}
                                {% for message in messages %}
                                    <div style="position: fixed;top: 50px; right: 100px; width: 300px; z-index: 9999;" class="alert {% if message.tags == 'error' %}alert-danger{% else %}alert-success{% endif %} alert-dismissible fade show" role="alert">
                                        {{ message }}
                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4" style="background-color: rgb(78, 170, 167); border-radius: 20px; margin-left:1%" >
                <div class="card text-center" style="margin-top: 15px;margin-bottom: 15px;">
                    <div class="card-body">
                        <h5 class="card-title text-center">Ranking</h5>
                        <ul class="nav nav-tabs" id="rankingTabs" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="total-tab" data-bs-toggle="tab" data-bs-target="#total" type="button" role="tab" aria-controls="total" aria-selected="true">Ranking Total</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="diario-tab" data-bs-toggle="tab" data-bs-target="#diario" type="button" role="tab" aria-controls="diario" aria-selected="false">Ranking Diario</button>
                            </li>
                        </ul>
                        <div class="tab-content mt-3" id="myTabContent">
                            <div class="tab-pane fade show active" id="total" role="tabpanel" aria-labelledby="total-tab">
                                <ul class="list-group">
                                    {% for puntaje in puntaje_periodo %}
                                    <li class="list-group-item"><span style="font-size:18px">{{ forloop.counter }}° posicion:</span> <strong>{{puntaje.puntaje_periodo}} derivacion/es</strong></li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="tab-pane fade" id="diario" role="tabpanel" aria-labelledby="diario-tab">
                                <ul class="list-group">
                                {% for ejecutivo in ejecutivos_top_hoy %}
                                    <li class="list-group-item"><span style="font-size:18px">{{ forloop.counter }}° posicion:</span>  <strong>{{ ejecutivo.total_registros }} derivacion/es</strong> </li>
                                {% endfor %}
                                    </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card text-center" style="margin-top: 15px;margin-bottom: 15px;">
                    <div class="card-body">
                        <h5 class="card-title text-center">Mi posicion global</h5>
                        <div >
                            <input type="text" class="form-control text-center" style="font-size:18px" id="posicion_global" name="posicion_global" value="{% if posicion_usuario %} {{posicion_usuario}}°{% else %}Aún no ha realizado derivaciones{% endif %}" readonly>
                        </div>
                    </div>
                </div>
                <div class="card text-center" style="margin-top: 15px;margin-bottom: 15px;">
                    <div class="card-body">
                        <h5 class="card-title text-center">Mi posicion hoy</h5>
                        <div>
                            <input type="text" class="form-control text-center" style="font-size:18px" id="posicion_dia" name="posicion_dia" value="{% if posicion_usuario_hoy  %}{{posicion_usuario_hoy}}°{% else %}Aún no ha realizado derivaciones{% endif %}" readonly>
                        </div>
                    </div>
                </div>
            </div>
            <div  class="col-md-2 mb-1" style="background-color: rgb(78, 170, 167); border-radius: 20px; margin-left:1%;margin-bottom: 23%;" >
                <div class="card text-center" style="margin-top: 15px;margin-bottom: 15px;">
                    <div class="card-body">
                        <div>
                        <a class="btn" type="button" data-bs-toggle="modal" data-bs-target="#modal-premios">
                            <div>
                                <img src="{% static 'img/logoclinica/trofeo.png' %}" alt="Clinica Alemana" width="60" height="60"><b class="text-light"></b>
                            </div>
                            <label class="form-label fw-bold">Premios</label>
                        </a>
                    </div>
                    </div>
                </div>
                <div class="card text-center" style="margin-top: 15px;margin-bottom: 15px;">
                    <div class="card-body">
                        <h4 class="card-title text-center">Recuerda</h4>
                        {% if fecha_fin  %}
                        <div>
                            <p>Esta campaña finaliza el </p>
                            <p>{{fecha_fin}}</p>
                        </div>
                        {% else %}
                        <div>
                            <p>No hay campaña activa</p>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="modal-premios" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: rgb(78, 170, 167);">
                <h5 class="modal-title" id="exampleModalLabel" style="color:white;">Premios Campaña Seguros CAT</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card-body text-center">
                    <div class="form-group row">
                        <div class="row" style="margin-left:7%">
                            <div class="col-sm-10 ">
                                <ul id="user-list" class="list-group">

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="background-color: rgb(78, 170, 167);">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>



<script type="text/javascript" src="{% static 'js/formulario/validar_rut.js' %}"></script>
<script type="text/javascript" src="{% static 'js/formulario/solo_numeros.js' %}"></script>
<script type="text/javascript" src="{% static 'js/formulario/buscar_cliente.js' %}"></script>
{% endif %}
{% else %}
<div class="container justify-content-center mt-1">
  <div class="row">
    <div class="col-md-12">
      <div class="card text-bg-dark">
        <img src="{% static 'img/logoclinica/clinica_3.png' %}" style="opacity: 0.8;" class="card-img">
        <div class="card-img-overlay d-flex justify-content-end align-items-end">
          <div class="container">
            <h1 class="text-white" style="float:right;"><b>Bienvenid@ al Sistema de Derivación Seguros CAT</b></h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}


<script type="text/javascript" src="{% static 'js/mantenedor_premios/mantenedor_premios.js' %}"></script>
{% endblock %}