{% extends 'global/layout.html' %}

{% load static %}

{% block content %}

{% load custom_tags %}

{% if user.is_authenticated %}

{% if request.user|has_group:"admin" %}

<div class="container-fluid mt-3">
  <div class="row justify-content-center">
      <div class="col-12">
          <div class="card" >
              <div class="col-sm-12" style="background-color: rgb(191, 227, 225); ">
                  <h4 class="card-title text-center mt-0" style="color:white;"> Creación de Campañas </h4>
              </div>
              <form id="formulario_datos" method="post" action="{% url 'reset_campania' %}" enctype="multipart/form-data">
                  {% csrf_token %}
                  <div class="card-body" style="background-color: rgb(191, 227, 225); margin-top:1%; ">
                      <div class="form-group row">
                          <div class="row align-items-start">
                              <!-- Ajuste de columnas para ser más anchas -->
                              <div class="col-lg-6"> <!-- Ancho mayor para los inputs (col-lg-6 para pantallas grandes) -->
                                  <label class="form-label fw-bold" style="color:white;">Nombre Campania</label>
                                  <input name="nombre_campania" id="nombre_campania" class="form-control" type="text" required>
                              </div>
                              <div class="col-lg-6">
                                  <label class="form-label fw-bold" style="color:white;">Fecha Inicio..</label>
                                  <input name="fecha_inicio" id="fecha_inicio" class="form-control" type="date" required>
                              </div>
                              <div class="col-lg-6 mt-3">
                                  <label class="form-label fw-bold" style="color:white;">Hora Inicio..</label>
                                  <input name="hora_inicio" id="hora_inicio" class="form-control" type="time" required>
                              </div>
                              <div class="col-lg-6 mt-3">
                                  <label class="form-label fw-bold" style="color:white;">Fecha Termino..</label>
                                  <input name="fecha_termino" id="fecha_termino" class="form-control" type="date" required>
                              </div>
                              <div class="col-lg-6 mt-3">
                                  <label class="form-label fw-bold" style="color:white;">Hora Termino..</label>
                                  <input name="hora_termino" id="hora_termino" class="form-control" type="time" required>
                              </div>
                              <div class="col-lg-6 mt-3">
                                  <div class="form-check form-switch">
                                      <input class="form-check-input" type="checkbox" id="activo" name="activo">
                                      <label class="form-check-label fw-bold" for="activo" style="color:white;">Activar Campaña</label>
                                  </div>
                              </div>
                              <div class="col-lg-12 mt-4 text-end">
                                  <button type="button" id="submit_button" class="btn btn-primary">Guardar</button>
                              </div>
                          </div>
                      </div>
                  </div>
                  {% if messages %}
                        {% for message in messages %}
                            <div style="position: fixed;top: 50px; right: 100px; width: 300px; z-index: 9999;" class="alert {% if message.tags == 'error' %}alert-danger{% else %}alert-success{% endif %} alert-dismissible fade show" role="alert">
                                {{ message }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endfor %}
                    {% endif %}
              </form>
          </div>
      </div>
  </div>
</div>

{% endif %}
{% endif %}

<script type="text/javascript" src="{% static 'js/campania/campania.js' %}"></script>

{% endblock %}
