<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body >

    <div class="container-fluid" >
        <footer class="text-white text-center text-lg-start" style="background-color: #003366;  margin-top: 20px;">

            <div class="container p-2">
                <div class="row mt-3">
                    <div class="col-lg-4 col-md-12 mb-3 mb-md-0">
                        <h5 class="text-uppercase mb-3" style="font-size: 1rem;">Aviso Importante</h5>
                        <p style="font-size: 0.875rem;">
                            Este sitio ha sido desarrollado con fines personales y no está destinado a su uso comercial ni a la distribución sin la debida autorización.
                        </p>
                        <p style="font-size: 0.875rem;">
                            Cualquier utilización no autorizada de este proyecto está prohibida. Si deseas obtener más información sobre su uso o necesitas autorización, no dudes en ponerte en contacto conmigo.
                        </p>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-3 mb-md-0">
                        <h3 class="mb-3" style="font-size: 1rem;">Anexos importantes</h3>
                        <ul class="fa-ul" style="margin-left: 1.65em; font-size: 0.875rem;">
                            <li class="mb-3">
                                <span class="fa-li"><i class="fas fa-home"></i></span><span class="ms-2">Proyecto: xxx</span>
                            </li>
                        </ul>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-3 mb-md-0">
                        <h5 class="text-uppercase mb-3" style="font-size: 1rem;">SOPORTE</h5>
                        <table class="table text-center text-white" style="font-size: 0.875rem;">
                            <tbody class="font-weight-normal">
                                <tr>
                                    <td>correo:</td>
                                    <td>correa.kro@gmail.com</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- Copyright -->
            <div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.2); font-size: 0.875rem;">
                © 2025 Copyright - Todos los derechos reservados
            </div>

            <div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.2); font-size: 0.875rem;">
                Desarrollo por Carolina Correa
            </div>

        </footer>
    </div>


</body>
</html>
