<!DOCTYPE html>
<html lang="es">
<head>

</head>
<body>

</body>
<div class="container my-5">

    <footer class="text-white text-center text-lg-start" style="background-color: #003366;">
       <div class="container p-4">
            <div class="row mt-4">
                <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
                    <h5 class="text-uppercase mb-4">Aviso Importante</h5>

                    <p>
                        Este sitio ha sido desarrollado con fines personales y no está destinado a su uso comercial ni a la distribución sin la debida autorización.
                    </p>

                    <p>
                        Cualquier utilización no autorizada de este proyecto está prohibida. Si deseas obtener más información sobre su uso o necesitas autorización, no dudes en ponerte en contacto conmigo.
                    </p>

                    <div class="mt-4">
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                    <ul class="fa-ul" style="margin-left: 1.65em;">
                        <h3 class="mb-3"> Anexos importantes</h3>
                        <li class="mb-3">
                            <span class="fa-li"><i class="fas fa-home"></i></span><span class="ms-2">Proyecto: xxx</span>
                        </li>

                    </ul>
                </div>
                <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase mb-4">SOPORTE</h5>

                    <table class="table text-center text-white">
                        <tbody class="font-weight-normal">
                        <tr>
                            <td>correo:</td>
                            <td>correa.kro@gmail.com</td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2024 Copyright - Todos los derechos reservados

        </div>
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            Desarrollo por Carolina Correa
        </div>
        <!-- Copyright -->
    </footer>

</div>
</html>